[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-randomly = "*"
pytest-lazy-fixture = "*"
tox = "*"
ipython = "*"
codecov = "*"
black = "*"
mypy = "*"
flake8 = "*"
flake8-docstrings = "*"
mkdocs = "*"
markdown-include = "*"
isort = "*"
mistune = "*"
mkdocs-material = "*"
types-click = "*"
vulture = "*"
flake8-bugbear = "*"
pymdown-extensions = "*"
flake8-isort = "*"
safety = "*"
bandit = "*"
types-pytest-lazy-fixture = "*"

[requires]
python_version = "3.10"
