[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
ipython = "*"
codecov = "*"
tox-travis = "*"
black = "==19.10b0"
mypy = "*"
flake8 = "*"
flake8-docstrings = "*"
pytest-cov = "*"
mkdocs = "*"
markdown-include = "*"
isort = "*"

[packages]
lark-parser = "*"

[requires]
python_version = ">=3.6"
